.background {
    -fx-background-color:white;
}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Ubuntu Regular";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.table-view{
    -fx-border-color:
            #838382
            #838382
            #838382
            white;
}
.table-view .column-header-background {
    -fx-background-color: white;
}
.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Liberation Serif Regular";
    -fx-text-fill: #299d30;
    -fx-alignment: center;
    -fx-border-color:
            transparent
            transparent
            #838382
            transparent;
    -fx-opacity: 1;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.menu-bar {
    -fx-background-color: derive(#299d30,10%);
}
.context-menu {
    -fx-background-color: derive(#299d30,50%);
}
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Ubuntu Regular";
    -fx-text-fill: white;
}
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Ubuntu Regular";
}
