.background {
    -fx-background-color:white;
}
.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Californian FB";
    -fx-text-fill: #838382;
}
.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Liberation Serif Regular";
    -fx-text-fill: #299d30;
    -fx-opacity: 1;
}
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}
