.background {
    -fx-background-color:white;
}
.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Ubuntu Regular";
    -fx-text-fill: #838382;
}
.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Liberation Serif Regular";
    -fx-text-fill: #299d30;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Ubuntu Regular";
}
/* FLOATING TABS CUSTOMISATION */
.tab-pane.floating *.tab-header-background {
    -fx-background-color:white
;
}
.tab-pane.floating *.tab-header-area
{
    -fx-background-color: white;
}
.tab-pane.floating *.tab-content-area
{
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;
}
.tab-pane.floating *.tab
{
    -fx-background-color: -fx-tab-border-color, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-border-color:
            transparent
            transparent
            #838382
            transparent;
}
.tab-pane.floating *.tab:selected
{
    -fx-border-color: white;
    -fx-background-insets: 0 0 -1 0, 1 1 -1 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
}